<!-- beans.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="repository" class="Spring.DI.Repository" />
    <bean id="service" class="Spring.DI.Service">
        <constructor-arg ref="repository" />
    </bean>
</beans>